## Les bases Python
#### 09/09/2024

## INPUT

In [77]:
var_input = input("Veuillez entrer un nombre")

In [78]:
print("Voici le nombre : ", var_input)
print("Voici le nombre : "+ var_input)

Voici le nombre :  1
Voici le nombre : 1

On ne peut pas mettre plusieurs arguments dans un input  
*ASTUCE* L'astuce est de mettre un print et entrer une variable d'input

In [79]:
min = 1
max =10
print("Veuillez enter un nombre compris entre ", min ," et ", max)
var = input()

Veuillez enter un nombre compris entre  1  et  10

## TEXTE

Récupérer une lettre dans une chaine de caractère

<p> Avant les deux points c'est inclu après les deux points c'est exclu </p>

In [80]:
texte = "Bonjour les licences Oteria groupe B"
print(texte[0])
print(len(texte))
print(texte[len(texte)-3])
print(texte[0:9])
print(texte[0:7:2])
print(texte[::-1])

B
36
e
Bonjour l
Bnor
B epuorg airetO secnecil sel ruojnoB

#### METHODE/FONCTION STR
* SPLIT  
Retirer des éléments dans une chaîne de caractère

In [81]:
ip="192.168.1.12"
liste_split= ip.split(".")
liste_split

['192', '168', '1', '12']

* JOIN  
Joindre des éléments dans une liste de caractère

In [82]:
":".join(liste_split)

'192:168:1:12'

* SWAPCASE  
Inverse les majuscules et les minuscules

In [83]:
b = "    Bonjour Tout Le Monde     "
b.swapcase()

'    bONJOUR tOUT lE mONDE     '

* RSTRIP/LSTRIP  
Retire les espaces au début et à la fin

In [84]:
print(b.rstrip())
print(b.lstrip())

    Bonjour Tout Le Monde
Bonjour Tout Le Monde

In [85]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## LISTE

In [86]:
l=[]
type(l)

list

In [87]:
l=[1,2,3,4,5,6,7]
print(l[1])
print(l[-1])
print(l[len(l)-2])
l[2]=12
print(l)
l[3]= "texte"
print(l)
liste_liste = [1,2,3,[58,69,45],5,6]
print(liste_liste)
print(liste_liste[3][2])

2
7
6
[1, 2, 12, 4, 5, 6, 7]
[1, 2, 12, 'texte', 5, 6, 7]
[1, 2, 3, [58, 69, 45], 5, 6]
45

#### METHODE/FONCTION LISTE

* APPEND  
Ajoute un élément à la liste

In [88]:
l.append(10)
print(l)

[1, 2, 12, 'texte', 5, 6, 7, 10]

* POP  
Retire une élément de la liste

In [89]:
l.pop(3)
print(l)

[1, 2, 12, 5, 6, 7, 10]

* INSERT

In [90]:
l.insert(1,32)
print(l)

[1, 32, 2, 12, 5, 6, 7, 10]

* SORT

In [91]:
l.sort()
print(l)

[1, 2, 5, 6, 7, 10, 12, 32]

* REVERSE

In [92]:
l.reverse()
print(l)

[32, 12, 10, 7, 6, 5, 2, 1]

In [93]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

## DICTIONNAIRE

In [94]:
d={"pommes": 1.2, "poires": 1.5, "kiwi" : 2.1, "bananes": 1.4}
print(len(d))

4

In [95]:
d["kiwi"]

2.1

Modifie un élément du dictionnaire

In [96]:
d["kiwi"] = 4
print(d)

{'pommes': 1.2, 'poires': 1.5, 'kiwi': 4, 'bananes': 1.4}

In [97]:
d["abricot"]=1.7
print(7)

7

##### METHODE/FONCTION DICTIONNAIRE
* KEYS

In [98]:
d.keys()

dict_keys(['pommes', 'poires', 'kiwi', 'bananes', 'abricot'])

* ITEMS

In [99]:
d.items()

dict_items([('pommes', 1.2), ('poires', 1.5), ('kiwi', 4), ('bananes', 1.4), ('abricot', 1.7)])

In [100]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

## TUPLE

In [101]:
l=[1,2,3]
t=tuple(l)
print(t)

(1, 2, 3)

transformer en liste

In [102]:
l1 = list(t)
print(l1)

[1, 2, 3]

In [103]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

## CONDITION
* IF/ELIF/ELSE

In [106]:
nbr = int(input("Veuillez entrer un nombre compris entre 10 et 20"))
print("Le nombre que vous avez entré est : ", nbr)

if(nbr<10):
    print("Votre nombre est plus petit que 10")
elif(nbr>20):
    print("votre nombre est supérieur à 20")
else :
    print("Votre nombre est bien compris entre 10 et 20")

Le nombre que vous avez entré est :  12
Votre nombre est bien compris entre 10 et 20

== égale  
!= différent  
">" supérieur  
">=" supérieur ou égale  
< inférieur  
<= inférieur ou égale

In [108]:
if(10<=nbr<=20):
    print("Votre nombre est bien compris entre 10 et 20")
else :
    print("Votre nombre n'est pas compris entre 10 et 20")

Votre nombre est bien compris entre 10 et 20

In [ ]:
nb1 = int(input("Veuillez entrer un premier nombre"))
nb2 = int(input("Veuillez entrer un deuxième nombre"))
nb3 = int(input("Veuillez entrer un troisième nombre"))

if((nb1==nb2 or nb2==nb3 or nb3==nb1) and not nb1== nb2 == nb3):
    print("Deux nombres sont identiques")
else : 
    print("Aucun")

## BOUCLE

In [110]:
for var in "Bonjour tout le monde":
    print(var)

B
o
n
j
o
u
r

t
o
u
t

l
e

m
o
n
d
e

In [111]:
for var in "Bonjour tout le monde":
    print(var, end="\t")

B	o	n	j	o	u	r	 	t	o	u	t	 	l	e	 	m	o	n	d	e

In [114]:
for var in "Bonjour tout le monde":
    print(var, end="")

Bonjour tout le monde

In [118]:
liste_boucle=[2,4,5,6,8,222,444,333]
for i in range(0, len(liste_boucle)):
    print(liste_boucle[i])

2
4
5
6
8
222
444
333